<div class="movie_big upcoming">
	<h2 class="main_title">Upcoming Movie <span class="date">23rd of May 2014</span></h2>

	<h3>Upcoming Movie Name<span class="date">(1966)</span></h3>
	<div class="poster">
		<img src="http://ia.media-imdb.com/images/M/MV5BNzcwMTQ5NzI3MV5BMl5BanBnXkFtZTcwMTExMTkyMQ@@._V1_SY317_CR5,0,214,317_AL_.jpg" alt="Hobson's Choice" />
		<p class="picked_by">
			Picked By: <span>Nada</span>
		</p>
	</div>

	<div class="details">
		<h4 class="no-margin-top">Plot</h4>
		<p class="plot">
			The story of a mistreated donkey and the people around him. A study on saintliness and a sister piece to Bresson's Mouchette.
		</p>

		<h4>Starring</h4>
		<ul class="starring">
			<li>
				<p>
					Donkey
				</p>
			</li>
			<li>
				<p>
					Anne Wiazemsky
				</p>
			</li>
			<li>
				<p>
					Walter Green
				</p>
			</li>
			<li>
				<p>
					Jean-Claude Guilbert
				</p>
			</li>
		</ul>

		<p class="director">
			Directed By:<span>Robert Bresson</span>
		</p>

		<h4>Genre</h4>
		<ul class="genre">
			<li>
				<p>
					Drama
				</p>
			</li>
		</ul>

	</div>
	<!--End of Movie Details!-->

	<div class="clr"></div>

	<div class="club_info">
		<p class="Language">
			Language:<span>French/Latin</span>
		</p>
		<p class="duration">
			Duration:<span>95</span>Minutes
		</p>
		<div class="clr"></div>
	</div>

	<!--End of Club Info!-->

</div>
<!--End of Upcoming Movie!-->

<div class="movie_big latest">
	<h2 class="main_title">Latest Movie <span class="date">16th of May 2014</span></h2>

	<h3>{{movies[latestMovieIndex].movieName}}<span class="date">{{movies[latestMovieIndex].movieDate}}</span></h3>
	<div class="poster">
		<img src="http://ia.media-imdb.com/images/M/MV5BMTYyOTg3Njc5NF5BMl5BanBnXkFtZTcwOTc1MTIzMg@@._V1_SY317_CR5,0,214,317_AL_.jpg" alt="Hobson's Choice" />
		<p class="picked_by">
			Picked By: <span>Ex</span>
		</p>
	</div>

	<div class="details">
		<h4 class="no-margin-top">Plot</h4>
		<p class="plot">
			Henry Hobson runs a successful bootmaker's shop in nineteenth-century Salford. A widower with a weakness for the pub opposite, he tries forcefully to run the lives of his three unruly daughters.
		</p>

		<h4>Starring</h4>
		<ul class="starring">
			<li>
				<p>
					Charles Laughton
				</p>
			</li>
			<li>
				<p>
					John Mills
				</p>
			</li>
			<li>
				<p>
					Brenda de Banzie
				</p>
			</li>
			<li>
				<p>
					Daphne Anderson
				</p>
			</li>
		</ul>

		<p class="director">
			Directed By: <span>David Lean</span>
		</p>

		<h4>Genre</h4>
		<ul class="genre">
			<li>
				<p>
					Drama
				</p>
			</li>
			<li>
				<p>
					Comedy
				</p>
			</li>
			<li>
				<p>
					Romance
				</p>
			</li>

		</ul>

	</div>
	<!--End of Movie Details!-->

	<div class="clr"></div>

	<div class="club_info">
		<p class="Language">
			Language:<span>English</span>
		</p>
		<p class="duration">
			Duration:<span>107</span>Minutes
		</p>
		<p class="nada_rating">
			Nada's Rating:<span>7</span>/10
		</p>
		<p class="ex_rating">
			Ex's Rating:<span>7</span>/10
		</p>
		<div class="clr"></div>
	</div>

	<!--End of Club Info!-->

	<div class="comment">
		<div class="nada_comment">
			<h3><span class="nada_name">Nada's</span> Comment</h3>
			<p>
				I got bored of it
			</p>
		</div>
		<!--end of Nada Comment!-->

		<div class="ex_comment">
			<h3><span class="ex_name">Ex's</span> Comment</h3>
			<p>
				I found it pedantic and Shallow
			</p>
		</div>
		<!--end of Ex Comment!-->

	</div>
	<!--end of comments!-->

</div>
<!--End of Latest Movie!-->