<div class="club_rules">
	<h2 class="main_title">Club Rules</h2>

	<ul>
		<li>
			<span class="rule">Rule #1:</span> The movie has to be unseen by the both parties.
		</li>
		<li>
			<span class="rule">Rule #2:</span> Only black & white movies permitted.
		</li>
		<li>
			<span class="rule">Rule #3:</span> No movie after the year 1970.
		</li>
		<li>
			<span class="rule">Rule #4:</span> The movie should not exceed a duration of 135 min.
		</li>
		<li>
			<span class="rule">Rule #5:</span> Exceptions may apply, certain movies beyond the year 1970 are permissable, maximum 1973.
		</li>
		<li>
			<span class="rule">Rule #6:</span> In the case of a boring movie, it could be terminated after 30 minutes.
		</li>
		<li>
			<span class="rule">Rule #7:</span> Sleeping during the movie is forbidden.
		</li>

	</ul>

</div>
<!--End of Club Rules!-->